.wrapper{
    display: inline-block;
    font-family: 'montserrat';
    padding: 20px 0 20px 30px;
    width: 100%;
}
.header{
display: inline-flex;
width: 100%;
}
#rightOne{
    margin-left: auto;
    padding-right: 50px;
}

.content{
    display: flex;
    padding: 30px 0 0 50px;
}

select{
    border-color: white;
}

button{
    font-family: "Montserrat";
    font-weight: 600;
    height: 30px;
    width: 70px;
    border-width: 1px;
    border-radius: 4px;
    margin: 0 10px 0 0;
}

#Sign{
    background-color: blue;
    color: white;
}

#Motto{
    white-space: pre-line;
    font-size: 74px;
}
#undMotto{
    white-space: pre-line;
}
#signUp{
    width: 10em;
    border: 0;
    background-color: blue;
    color: white;
}
#downl{
    font-size: 20px;
    padding: 30px 0 10px 0;
}

img{
    height: auto;
}
.logo{
    height: 45px;
    max-height: 50px;
}
#ham{
    height: auto;
}
#CImage{
width: auto;
max-height: 100%;
background-size: contain;
}

@media only screen and (max-width: 1100px) {

    .wrapper{
        padding: 0;
    }
    .content{
        padding: 0px 0 0 20px;
    }
    button{
        font-size: 14px;
        width: auto;
    }
    #signUp{
        height: 3em;
        width: 15em;
    }
    #Motto {
        font-size: 72px;
    }
    #undMotto{
        padding: 0 0 20px 0;
    }
    #CImage{
        width: auto;
        max-height: 100%;
        padding: 10px 10px 0px 10px;
    }
    .logo{
        width: 22em;
    }
}
@media only screen and (min-width: 1101px) {
    button{
        width: 10em;
        height: 3em;
    }
    #signUp{
        width: 25em;
    }
    #Motto {
        font-size: 92px;
    }
    #undMotto{
        font-size: 20px;
        padding: 0 0 20px 0;
    }
    #CImage{
        margin-left: auto;
        padding: 0 50px 0 0;
        height: 80vh;
    }
    .logo{
        width: 30rem;
    }
    .store{
        max-width: 100%;
        height: auto;
    }
}

